.calculadora{

    margin: 0 auto;
    padding: 20px;
    width: 300px;
    height: 500px;
    border-radius: 10%;
    background-color: black;
}

.calculadora button{
    width: 70px;
    height: 70px;
    font-size: 2rem;
}

#pantalla{
    display: block;
    width: 300px;
    height: 100px;
    font-size: 3rem;
    background-color: white;
    border-radius: 10%;
}